/* You can add global styles to this file, and also import other style files */
h1 {
  color: cadetblue;
  font-family: "Bahnschrift";
  font-size: x-large;

}

h2 {
  color : darkcyan;
  font-family: "Bahnschrift";
  font-size: large;
}

h3 {
  color: black;
  font-family: "Bahnschrift";
  font-size: medium;
}
